.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 20px auto; /* Increased outer margin */
  padding: 30px; /* Increased padding */
  
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Similar shadow effect */
}

.photo {
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 10px 5px 30px rgb(92, 92, 92);
  margin-right: 40px; /* Increased space between image and text */
}

.info {
  max-width: 600px; /* Adjusted width for better text fitting */
  color: white;
  font-family: 'Poppins', sans-serif;
}

.name {
  font-size: 2.5rem; /* Slightly larger font size for name */
  font-weight: bold;
  margin-bottom: 20px; /* Increased space below the name */
  color: white;
}

.bio {
  font-size: 1.2rem; /* Larger font size for bio */
  line-height: 1.8; /* Increased line height for better readability */
  color: white;
}

.highlight {
  color: #f39c12; /* Color highlight for the name */
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .photo {
    margin-bottom: 20px;
  }

  .info {
    max-width: 100%;
  }
}
