.navbar {
  padding: 20px; 
  position: relative; 
  width: 95%;  
  top: 0;
  display: flex;
  justify-content: space-between; 
}

.about-button, .contact-button {
  font-family: 'Poppins', sans-serif;
  padding: 8px;
  border-radius: 5px; /* Add border-radius for aesthetics */
}

.about-button {
  background-color: white;
  color: black;
}

.contact-button {
  background-color: black;
  color: white;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack buttons on smaller screens */
    align-items: center;
  }
}
